<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JG8YHS2YNN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JG8YHS2YNN');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Waikirikiri, Waikirikiri Marae, Hāmua Hapū, Ngai Tuhoe, Tuhoe" />
    <meta name="description" content="The purpose of Hāmua's hapū registration database is to increase communication between Waikirikiri's Marae Committee and descendants of Hāmua.
        The database is provided by and cared for by the Waikirikiri Marae Committee only." />
    <title>@ViewData["Title"] - Waikirikiri</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><div class="nav-brand-text"><img class="nav-brand-image" src="~/img/Logo n text.png" /></div></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" aria-label="Return to the home page" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home nav-icon"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" aria-label="Register as a hapū member" asp-area="" asp-controller="Home" asp-action="Register"><i class="fab fa-wpforms nav-icon"></i> Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" aria-label="Learn more about the Waikirikiri marae committee" asp-area="" asp-controller="Home" asp-action="About"><i class="fas fa-address-card nav-icon"></i> About Us</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-light" aria-label="Contact the Waikirikiri marae committee" asp-area="" asp-controller="Home" asp-action="Contact"><i class="fas fa-envelope nav-icon"></i> Contact Us</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-light" aria-label="Go to the privacy page" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fas fa-user-secret nav-icon"></i> Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="wrapper">
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="container">

                <ul class="list-inline">
                    <li class="list-inline-item"><a class="" aria-label="Return to the home page" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="list-inline-item">
                        <a class="" aria-label="Register as a hapū member" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                    </li>

                    <li class="list-inline-item"><a href="#" aria-label="Learn more about the Waikiriri marae committee">About</a></li>

                    <li class="list-inline-item"><a class="" aria-label="Go to the privacy page" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                </ul>
                <div class="social">@*<a href="#" aria-label="Instagram"><i class="icon ion-social-instagram"></i></a><a href="#" aria-label="Snapchat"><i class="icon ion-social-snapchat"></i></a><a href="#" aria-label="twitter"><i class="icon ion-social-twitter"></i></a>*@<a href="https://www.facebook.com/groups/189002851174539" aria-label="facebook"><i class="icon ion-social-facebook"></i></a></div>
                <p class="copyright">&copy; @DateTime.Now.Year - Waikirikiri Marae</p>
            </div>
        </footer>
    </div>
    @*<footer class="border-top footer text-muted navbar-dark bg-dark">
            <div class="container">
                &copy; @DateTime.Now.Year - HamuaHapuRegistration - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>