@model IEnumerable<HamuaHapuCommon.Resources.MaraeResource>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                <a asp-action="Index" asp-route-orderby="@ViewData["MaraeSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th class="hide-mobile">
                <a asp-action="Index" asp-route-orderby="@ViewData["AreaSortParm"]">@Html.DisplayNameFor(model => model.Area)</a>
            </th>
            <th class="hide-mobile">
                <a asp-action="Index" asp-route-orderby="@ViewData["HapuSortParm"]">@Html.DisplayNameFor(model => model.Hapu)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="hide-mobile">
                    @Html.DisplayFor(modelItem => item.Area)
                </td>

                <td class="hide-mobile">
                    @Html.DisplayFor(modelItem => item.Hapu)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaraeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaraeId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>