@model HamuaHapuRegistration.ViewModels.RegisterViewModel;

@{
    ViewData["Title"] = "Register";
    var relationship = "";

}
<div class="row">

    <div class="col-md-12">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h1>Whakapapa (Please fill in the details for 1 of your parents)</h1>
                        <hr />
                        <div class="tupuna">
                            <span asp-validation-for="@Model.Member.NgaTupuna" class="text-danger parent-error-msg"></span>
                            @if (Model.Member.NgaTupuna.Any())
                            {
                                @for (var i = 0; i < Model.Member.NgaTupuna.Count(); i++)
                                {
                                    if (i == 0 || i == 1)
                                    {
                                        if (i == 0)
                                        {
                                            <h2>Mama</h2>
                                            relationship = Model.Member.NgaTupuna.Any() & !string.IsNullOrEmpty(Model.Member.NgaTupuna.ElementAt(i).Relationship) ? Model.Member.NgaTupuna.ElementAt(i).Relationship : "Mother";
                                        }
                                        else if (i == 1)
                                        {
                                            <h2>Papa</h2>
                                            relationship = Model.Member.NgaTupuna.Any() & !string.IsNullOrEmpty(Model.Member.NgaTupuna.ElementAt(i).Relationship) ? Model.Member.NgaTupuna.ElementAt(i).Relationship : "Father";
                                        }
                                        <div class="form-group">
                                            <label class="control-label">@relationship's Name</label>
                                            <input name="Member.NgaTupuna[@i].Name" id="Member.NgaTupuna[@i].Name" asp-for="@Model.Member.NgaTupuna.ElementAt(i).Name" type="text" class="form-control @relationship-control" />
                                            <span class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">@relationship's Primary Iwi</label>
                                            <input name="Member.NgaTupuna[@i].PrimaryIwi" id="Member.NgaTupuna[@i].PrimaryIwi" asp-for="@Model.Member.NgaTupuna.ElementAt(i).PrimaryIwi" type="text" class="form-control @relationship-control" />
                                            <span class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">@relationship's Primary Hapū</label>
                                            <input name="Member.NgaTupuna[@i].PrimaryHapu" id="Member.NgaTupuna[@i].PrimaryHapu" asp-for="@Model.Member.NgaTupuna.ElementAt(i).PrimaryHapu" type="text" class="form-control @relationship-control" />
                                            <span class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"></label>
                                            <input name="Member.NgaTupuna[@i].Relationship" id="Member.NgaTupuna[@i].Relationship" asp-for="@Model.Member.NgaTupuna.ElementAt(i).Relationship" type="hidden" class="form-control" value="@relationship" />
                                            <span class="text-danger"></span>
                                        </div>
                                    }

                                }
                            }
                            else
                            {

                                @for (var i = 0; i < 2; i++)
                                {
                                    if (i == 0)
                                    {
                                        <h2>Mama</h2>
                                        relationship = "Mother";
                                    }
                                    else
                                    {
                                        <h2>Papa</h2>
                                        relationship = "Father";
                                    }
                                    <div class="form-group">
                                        <label class="control-label">@relationship's Name</label>
                                        <input name="Member.NgaTupuna[@i].Name" id="Member.NgaTupuna[@i].Name" type="text" class="form-control @relationship-control" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">@relationship's Primary Iwi</label>
                                        <input name="Member.NgaTupuna[@i].PrimaryIwi" id="Member.NgaTupuna[@i].PrimaryIwi" type="text" class="form-control @relationship-control" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">@relationship's Primary Hapū</label>
                                        <input name="Member.NgaTupuna[@i].PrimaryHapu" id="Member.NgaTupuna[@i].PrimaryHapu" type="text" class="form-control @relationship-control" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <input name="Member.NgaTupuna[@i].Relationship" id="Member.NgaTupuna[@i].Relationship" type="hidden" class="form-control" value="@relationship" />
                                        <span class="text-danger"></span>
                                    </div>

                                }
                            }
                        </div>
                        <div id="react-tupuna">
                        </div>
                        <h2>Choose Your Marae</h2>
                        <span asp-validation-for="@Model.Member.NgaMaraeIdList" class="text-danger marae-error-msg"></span>
                        <hr />
                        @foreach (var group in Model.NgaMaraeGoup)
                        {
                            var groupKey = group.Key;

                            <div class="form-group">
                                <h3>
                                    <a class="" data-toggle="collapse" href="#@groupKey.Replace(' ', '-')-collapse" aria-expanded="false" aria-controls="collapseExample">

                                        <i class="fas fa-chevron-down" id="@groupKey.Replace(' ', '-')-icon"> </i><label asp-for="@Model.Member.NgaMaraeIdList" class="control-label area-names">@groupKey</label>
                                    </a>
                                </h3>
                                <hr />
                                <div class="collapse" id="@groupKey.Replace(' ', '-')-collapse">
                                    <select id="@groupKey.Replace(' ', '-')-marae-list" asp-for="@Model.Member.NgaMaraeIdList" class="form-control custom-select marae-select-list" multiple="multiple">

                                        @foreach (var groupedItem in group)
                                        {
                                            <option value="@groupedItem.MaraeId">@groupedItem.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                        }
                    </div>
                    <div class="carousel-item">
                        <h1>Te Reo</h1>
                        <p>Can You Speak Te Reo?</p>
                        <div class="form-group form-check ">
                            <label class="form-check-label">
                                <input class="form-check-input speak-reo" type="radio" asp-for="@Model.Member.CanYouSpeakTeReo" value="true" /> Yes
                            </label>
                        </div>
                        <div class="form-group form-check ">

                            <label class="form-check-label">
                                <input class="form-check-input speak-reo" type="radio" asp-for="@Model.Member.CanYouSpeakTeReo" value="false" /> No
                            </label>
                        </div>
                        <div class="reo-proficiency">
                            <p>Is Te Reo Your First Language?</p>
                            <div class="form-group form-check ">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" asp-for="@Model.Member.IsTeReoFirstLanguage" value="true" /> Yes
                                </label>
                            </div>
                            <div class="form-group form-check ">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" asp-for="@Model.Member.IsTeReoFirstLanguage" value="false" /> No
                                </label>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Member.TeReoProficiency" class="control-label"></label>
                                <select asp-for="@Model.Member.TeReoProficiency" class="form-control">
                                    <option value="Non Te Reo Speaker">Please Choose</option>
                                    <option value="Beginner">Beginner</option>
                                    <option value="Basic">Basic Conversation</option>
                                    <option value="Fluent">Fluent</option>
                                </select>
                                <span asp-validation-for="@Model.Member.TeReoProficiency" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="return-to-ruatoki">
                            <h1>Return to Rūātoki</h1>
                            <p>Will you return to Rūātoki to live at some stage in your life?</p>
                            <div class="form-group form-check ">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" asp-for="@Model.Member.ReturnToRuatokiToLive" value="true" />Yes
                                </label>
                            </div>
                            <div class="form-group form-check ">

                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" asp-for="@Model.Member.ReturnToRuatokiToLive" value="false" /> No
                                </label>
                            </div>
                            <div class="form-group form-check ">

                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" asp-for="@Model.Member.ReturnToRuatokiToLive" value="maybe" /> maybe
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Member.ReturnComment" class="control-label">Please Comment On Your Answer</label>
                                <textarea asp-for="@Model.Member.ReturnComment" class="form-control"></textarea>
                                <span asp-validation-for="@Model.Member.ReturnComment" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h1>Your Info</h1>
                        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                        <div class="form-group">
                            <label asp-for="@Model.Member.FirstName" class="control-label"></label>
                            <input asp-for="@Model.Member.FirstName" class="form-control page-2-field" />
                            <span asp-validation-for="@Model.Member.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Member.LastName" class="control-label"></label>
                            <input asp-for="@Model.Member.LastName" class="form-control page-2-field" />
                            <span asp-validation-for="@Model.Member.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Member.Gender" class="control-label"></label>
                            <select asp-for="@Model.Member.Gender" class="form-control page-2-field">
                                <option>Please Choose Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                            <span asp-validation-for="@Model.Member.Gender" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Member.PlaceOfBirth" class="control-label"></label>
                            <input asp-for="@Model.Member.PlaceOfBirth" class="form-control page-2-field" />
                            <span asp-validation-for="@Model.Member.PlaceOfBirth" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Member.DOB" class="control-label"></label>
                            <input asp-for="@Model.Member.DOB" class="form-control" />
                            <span asp-validation-for="@Model.Member.DOB" class="text-danger"></span>
                        </div>

                        <h2>Contact Details</h2>
                        <div class="form-group">
                            <label asp-for="@Model.Member.Address1" class="control-label"></label>
                            <input asp-for="@Model.Member.Address1" class="form-control page-2-field" />
                            <span asp-validation-for="@Model.Member.Address1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Member.Address2" class="control-label">Apartment, unit, suite, or floor #</label>
                            <input asp-for="@Model.Member.Address2" class="form-control" />
                            <span asp-validation-for="@Model.Member.Address2" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Member.Address3" class="control-label"></label>
                            <input asp-for="@Model.Member.Address3" class="form-control page-2-field" />
                            <span asp-validation-for="@Model.Member.Address3" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Member.PostCode" class="control-label"></label>
                            <input asp-for="@Model.Member.PostCode" class="form-control" />
                            <span asp-validation-for="@Model.Member.PostCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Member.Country" class="control-label"></label>
                            <input asp-for="@Model.Member.Country" class="form-control page-2-field" />
                            <span asp-validation-for="@Model.Member.Country" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Member.Mobile" class="control-label"></label>
                            <input asp-for="@Model.Member.Mobile" class="form-control" />
                            <span asp-validation-for="@Model.Member.Mobile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Member.Email" class="control-label"></label>
                            <input asp-for="@Model.Member.Email" class="form-control page-2-field" />
                            <span asp-validation-for="@Model.Member.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Member.Occupation" class="control-label"></label>
                            <input asp-for="@Model.Member.Occupation" class="form-control page-2-field" />
                            <span asp-validation-for="@Model.Member.Occupation" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Member.SalaryRange" class="control-label"></label>
                            <select asp-for="@Model.Member.SalaryRange" class="form-control page-2-field">
                                <option value="Not Supplied">Please Choose Salary Range</option>
                                <option value="0-29,999">0-29,999</option>
                                <option value="31000 - 59,999">31000 - 59,999</option>
                                <option value="60,000 - 89,999">60,000 - 89,999</option>
                                <option value="90,000 - 119,999">90,000 - 119,999</option>
                                <option value="120,000+">120,000+</option>
                            </select>
                            <span asp-validation-for="@Model.Member.SalaryRange" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <h1>Declaration</h1>

                        <p>I declare that the information provided is true and accurate and that it is my responsibility to update my contact details as necessary.</p>
                        <p>I agree to share my contact information with Waikirikiri's Marae Commitee for the express purposes of remaining up to date and engaging with Hāmua hapū initiatives.</p>

                        <p>Would you like to be involved in the future planning and evolution of Hāmua affairs?</p>

                        <div class="form-group form-check ">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" asp-for="@Model.Member.KeepMeNotified" value="true" />Yes
                            </label>
                        </div>
                        <div class="form-group form-check ">

                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" asp-for="@Model.Member.KeepMeNotified" value="false" /> No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <a class="btn btn-danger btn-prev float-left" href="#carouselExampleFade" role="button" data-slide="prev">
                            <i class="fas fa-chevron-left"></i> Back
                        </a>

                        <a class="btn btn-dark btn-next float-right" href="#carouselExampleFade" role="button" data-slide="next">
                            Next <i class="fas fa-chevron-right"></i>
                        </a>

                        <input type="submit" value="Register Me" class="btn btn-dark float-right btn-submit" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="page-count">
                    <p class="page-count-msg"></p>
                </div>
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script type="text/javascript" src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <!-- Load our React component. -->
    <script type="text/babel" src="~/js/tupuna-form-app.jsx">
    </script>

    <script type="text/jsx">
        var myArray = [];

        @foreach (var d in Model.Member.NgaTupuna)
        {
            @:var tupuna = {};
            @:tupuna.Name = "@d.Name";
            @:tupuna.PrimaryIwi = "@d.PrimaryIwi";
            @:tupuna.PrimaryHapu = "@d.PrimaryHapu";
            @:tupuna.Relationship = "@d.Relationship";
            @:myArray.push(tupuna);
        }

        @*for(var i = 0; i < myArray.length; i++)
            {
            alert(myArray[i].Relationship);
            }

            console.log(myArray);*@
        ReactDOM.render(
        <TupunaForm data={myArray} />, document.getElementById('react-tupuna'));
    </script>

    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-AmH2Cb8BLG_RblE-XDdZgBQkbe7_WIY&libraries=places&callback=initAutoComplete">
    </script>
    <script type="text/javascript">

        let autocomplete;

        /***
         * check if any parent fields are empty
         ***/
        function validateParentControl(selector) {
            var valid = true;

            $(selector).each(function () {
                if ($(this).val() === '') {
                    valid = false;
                    return valid;

                }

            });

            return valid;
        }

        /***
         * Ensure we have at least 1 parents details filled in
         ***/
        function validateTupuna() {
            var mamaValid = true;
            var papaValid = true;

            var mumSelector = '.Mother-control';
            var dadSelector = '.Father-control'

            mamaValid = validateParentControl(mumSelector);
            papaValid = validateParentControl(dadSelector);

            return mamaValid || papaValid;
        }

        function validatePage(pageNum) {

            var pageSelector = ".page-" + pageNum + "-field";
            var valid = true;
            var maraeCount = 0;

            //validate select list
            if (pageNum === 0) {

                $('.marae-select-list').each(function () {

                    $(this).validate();
                    maraeCount += $(this).val().length

                });

                if (maraeCount === 0) {
                    valid = false;
                    $('.marae-error-msg').show();
                    $('.marae-error-msg').text("Please pick at least 1 marae");
                }

                var parentsValid = validateTupuna();

                if (!parentsValid) {
                    valid = false;
                    $('.parent-error-msg').show();
                    $('.parent-error-msg').text("Please complete the details for 1 of your parents");
                }

            }
            $(pageSelector).each(function () {
                $(this).validate();

                if (!$(this).valid()) {
                    valid = false;
                }
            });

            return valid;
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            const place = autocomplete.getPlace();
            let address1 = "";
            let postcode = "";
            let address3 = "";
            let sublocality = "";
            let locality = "";
            let state = "";
            let country = "";

            let addy3 = [];

            // Get each component of the address from the place details,
            // and then fill-in the corresponding field on the form.
            // place.address_components are google.maps.GeocoderAddressComponent objects
            // which are documented at http://goo.gle/3l5i5Mr
            for (const component of place.address_components) {
                const componentType = component.types[0];

                switch (componentType) {
                    case "street_number": {
                        address1 = `${component.long_name} ${address1}`;
                        break;
                    }

                    case "route": {
                        address1 += component.long_name;
                        break;
                    }

                    case "sublocality_level_1": {
                        addy3.push(component.long_name);
                        break;
                    }

                    case "postal_code": {
                        postcode = `${component.long_name}${postcode}`;
                        break;
                    }

                    case "postal_code_suffix": {
                        postcode = `${postcode}-${component.long_name}`;
                        break;
                    }
                    case "locality":
                        addy3.push(component.long_name);
                        break;

                    case "administrative_area_level_1": {
                        addy3.push(component.short_name);
                        break;
                    }
                    case "country":
                        country = component.long_name;
                        break;
                }
            }

            for (var i = 0; i < addy3.length; i++) {

                if (i === 0) {
                    address3 = addy3[i];
                } else {
                    address3 += ", " + addy3[i];
                }

            }

            $('#Member_Address1').val(address1);
            $('#Member_Address3').val(address3);
            $('#Member_PostCode').val(postcode);
            $('#Member_Country').val(country);
            //address1Field.value = address1;
            //postalField.value = postcode;
            // After filling the form with address components from the Autocomplete
            // prediction, set cursor focus on the second address line to encourage
            // entry of subpremise information such as apartment, unit, or floor number.
            //address2Field.focus();

            console.log("Yo");
        }

        function initAutoComplete() {
            const input = document.getElementById("Member_Address1");
            const options = {
                //bounds: defaultBounds,
                //componentRestrictions: { country: "us" },
                fields: ["address_components", "geometry", "icon", "name"],
                //origin: center,
                strictBounds: false,
                types: ["address"],
            };

            autocomplete = new google.maps.places.Autocomplete(input, options);

            autocomplete.addListener("place_changed", fillInAddress);
        }

        $(document).ready(function () {

            //this is required to create events with loop
            function generate_handler(iconSelector, currentClass) {
                return function (event) {
                    switchChevron(iconSelector, currentClass);
                };
            }

            function switchChevron(iconSelector, currentClass) {
                if (currentClass === 'fa-chevron-down') {
                    $(iconSelector).addClass('fa-chevron-up').removeClass('fa-chevron-down');
                } else {
                    $(iconSelector).addClass('fa-chevron-down').removeClass('fa-chevron-up');
                }
            }

            $(".area-names").each(function () {
                var base = "#" + $(this).text().replace(" ", "-");
                var listSelector = base + "-marae-list";
                var collapseSelector = base + "-collapse";
                var iconSelector = base + "-icon";

                $(listSelector).multiselect();

                $(collapseSelector).on('show.bs.collapse', generate_handler(iconSelector, 'fa-chevron-down'));

                $(collapseSelector).on('hide.bs.collapse', generate_handler(iconSelector, 'fa-chevron-up'));
            });

            $('.speak-reo').click(function () {
                var inputValue = $(this).attr("value");
                if (inputValue === 'false') {
                    $(".reo-proficiency").slideUp(800);

                }
                else {
                    $(".reo-proficiency").slideDown(800);

                }
            });

        });

        // Write your JavaScript code.
        $('.carousel').carousel(
            {
                interval: false,
            });
        //Hide buttons
        //Get number of pages for form
        var formPages = $('.carousel-item').length;
        var min = 0;
        var max = formPages - 1;

        var pageCount = "Page 1/" + formPages;

        $('.page-count-msg').text(pageCount);

        $('#carouselExampleFade').on('slide.bs.carousel', function (event) {
            // do something…
            var current = event.from;
            var to = event.to;
            var valid = true;
            pageCount = "Page " + (to + 1) + "/" + formPages;

            //Only validate if moving next
            if (current < to) {

                valid = validatePage(current);
            }

            if (valid) {

                if (to < 1) {
                    $('.btn-prev').hide();
                } else {
                    $('.btn-prev').show();
                }
                if (to === max) {
                    $('.btn-next').hide();
                    $('.btn-submit').show();
                }
                else {
                    $('.btn-next').show();
                    $('.btn-submit').hide();
                }

                $('.page-count-msg').text(pageCount);
            } else {
                event.preventDefault();
            }

            window.scrollTo(0, 0);
        });
    </script>
}